html {
    background-color: rgb(185, 252, 191);
}

body {
    text-align: center;
}

header {
    margin-bottom: 5%;
}

.header {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 100%;

}

.title-div {
    grid-column: 1;
    grid-row: 1;
}

.catalogue-div {
    grid-column: 8;
    grid-row: 1;
}

#catalogue-btn {
    height: 70%;
    width: 100%;
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(113, 173, 85);
    color:white;
    border: none;
}

#catalogue-btn:hover, #catalogue-btn:focus {
    background-color:rgb(83, 133, 60);
}

.logo {
    float: left;
    min-width: 75px;
    width: 50%;
    height: auto;
    transition: 0.3s;
}

.tagline {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(33, 54, 25);
    margin-bottom: 4%;
}

.start-btn {
    width: 20%;
    height: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    background-color: rgb(113, 173, 85);
    color: white;
    border: none;
}

.start-btn:hover {
    background-color:rgb(83, 133, 60);
}

.description {
    margin-bottom: 4%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(33, 54, 25);
}

.about {
    margin-bottom: 4%;
}

#catalogue-dropdown {
    display: none;
    position: absolute;
    background-color: black;
    overflow: auto;
    min-width: 95px;
    width: 12%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#catalogue-dropdown a {
    color: white;
    padding: 10%;
    display: block;
}

#catalogue-dropdown a:hover {
    background-color: rgb(39, 37, 37);
}

.logo:hover {
    background-color: rgb(164, 248, 161);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.bigger-header-font {
    font-size: 3em;
}

.catalogue-redirect-btn {
    background-color: rgb(113, 173, 85);
    color: white;
    border: none;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2%;
    margin-top: 3%;
}

.catalogue-redirect-btn:hover {
    background-color:rgb(83, 133, 60);
}

.species-main-section a{
    display: block;
    color: rgb(185, 4, 4);
    margin-top: 20px;
}

.species-header {
    margin-bottom: 40px;
}

.species-navigation {
    margin-bottom: 60px;
}

.species-navigation a {
    color: rgb(185, 4, 4);
}

.species-div {
    margin-bottom: 75px;
}