{% extends 'upload.html' %}

{% block title %}
Animal Classification
{% endblock %}

{% block banner %}
<h1>King of the Jungle! - Animal Classification</h1>
{% endblock %}

{% block upload_label %}
Image of Animal
{% endblock %}

{% block classes %}
<p>Bettle, Parrot, Fox, Wolf, HedgeHog, Turtle, Snake, Shark, Horse, Antelope, Hamster, 
    Woodpecker, Eagle, Chimpanzee, Bison, Penguin, Butterfly, Sandpiper, Hornbill, Lion,
    Lobster, Oyster, Otter, Grasshopper, Raccoon, Dog, Pigeon, Donkey, Hippopotamus, Hummingbird, 
    Bear, Coyote, Bee, Pig, Rat, Owl, Caterpiller, Koala, Squid, Hare, Whale, Mouse, Tiger,
    Fly, Lizard, Orangutan, Bat, Porcupine, Kangaroo, Gorilla, Starfish, Mosquito, Crow,
    Possum, Goldfish, Swan, Elephant, Sheep, Dragonfly, Zebra, Seal, Octopus, Cow, Ox, Wombat,
    Reindeer, Panda, Duck, Goose, Goat, Badger, Flamingo, Crab, Seahorse, Rhinoceros, Dolphin,
    Okapi, Moth, Sparrow, Pelecaniformes, Squirrel, Leopard, Jellyfish, Ladybugs, Cockroach,
    Hyena, Cat, Deer, Turkey, Boar
</p>
{% endblock %}

{% block dataset %}
<a target="_blank" href="https://www.kaggle.com/datasets/iamsouravbanerjee/animal-image-dataset-90-different-animals">Kaggle Animal Dataset by iamsouravbanerjee (Sourav Banerjee)</a>
{% endblock %}