{% extends 'upload.html' %}

{% block title %}
Flower Classification
{% endblock %}

{% block header %}
<h1>Stop and Smell the Roses! - Flower Classification</h1>
{% endblock %}

{% block upload_label %}
Image of Flower
{% endblock %}

{% block classes %}
<p>Astilbe</p>
<p>Bellflower</p>
<p>Black-eyed Susan</p>
<p>Calendula</p>
<p>California Poppy</p>
<p>Carnation</p>
<p>Common Daisy</p>
<p>Coreopsis</p>
<p>Dandelion</p>
<p>Iris</p>
<p>Rose</p>
<p>Sunflower</p>
<p>Tulip</p>
<p>Water Lily</p>
{% endblock %}