{% extends 'upload.html' %}

{% block title %}
Flower Classification
{% endblock %}

{% block banner %}
<h1>Stop and Smell the Roses! - Flower Classification</h1>
{% endblock %}

{% block upload_label %}
Image of Flower
{% endblock %}

{% block classes %}
<p>Astilbe, Bellflower, Black-eyed Susan, Calendula, California Poppy, Carnation, Common Daisy,<br>Coreopsis, Dandelion, Iris, Rose, Sunflower, Tulip, Water Lily</p>
{% endblock %}

{% block dataset %}
<a href="https://www.kaggle.com/datasets/marquis03/flower-classification">Kaggle Flower Dataset by marquis03</a>
{% endblock %}