{% extends 'upload.html' %}

{% block title %}
Gemstone Classification
{% endblock %}

{% block banner %}
<h1>Shine Bright Like A Diamond! - Gemstone Classification</h1>
{% endblock %}

{% block upload_label %}
Image of Gemstone
{% endblock %}

{% block classes %}
<p>Quartz Rose, Aquamarine, Lapis Lazuli, Onyx Green, Andalusite, Hiddenite, Chrysoprase,
    Prehnite, Benitoite, Andradite, Dumortierite, Sapphire Yellow, Blue Lace Agate, Opal,
    Serpentine, Fluorite, Amethyst, Sapphire Purple, Tsavorite, Variscite, Scapolite,
    Kunzite, Sodalite, Quartz Rutilated, Aventurine Green, Ruby, Alexandrite, Chrysocolla,
    Garnet Red, Pearl, Emerald, Rhodolite, Onyx Black, Jasper, Kyanite, Almandine, Hessonite,
    Amazonite, Malachite, Tanzanite
</p>
{% endblock %}

{% block dataset %}
<a target="_blank" href="https://www.kaggle.com/datasets/lsind18/gemstones-images">Kaggle Gemstone Dataset by lsind18 (Daria Chemkaeva)</a>
{% endblock %}