{% extends 'upload.html' %}

{% block title %}
Indian Bird Classification
{% endblock %}

{% block banner %}
<h1>Spread Your Wings! - Indian Bird Classification</h1>
{% endblock %}

{% block upload_label %}
Image of Indian Bird
{% endblock %}

{% block classes %}
<p>Indian Roller, White-Breasted Waterhen, Indian Grey Hornbill, Common Myna, Rufous Treepie,
    Cattle Egret, House Crow, Ruddy Shelduck, Gray Wagtail, Forest Wagtail, Common Tailorbird,
    Sarus Crane, White Wagtail, Jungle Babbler, Hoopoe, Coppersmith Barbet, Common Kingfisher,
    Brown-Headed Barbet, Indian Peacock, Asian Green Bee-Eater, Indian Pitta, Red-Wattled Lapwing,
    Northern Lapwing, White-Breasted Kingfisher, Common Rosefinch
</p>
{% endblock %}

{% block dataset %}
<a target="_blank" href="https://www.kaggle.com/datasets/arjunbasandrai/25-indian-bird-species-with-226k-images">Kaggle Indian Bird Dataset by arjunbasandrai (Arjun Basandrai)</a>
{% endblock %}