<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Catalogue - Nature's Neural Network</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='catalogue.css')}}">
</head>
<body>
    <header>
        <div class="header">
            <div class="title-div">
                <div>
                    {% set link = url_for('index') %}
                    <img onclick="location.href = '{{link}}';" class="logo" src="{{url_for('static', filename='nnn_brand_logo.png')}}">
                </div>
            </div>
            <div class="catalogue-div">
                <button onclick="toggleCatalogueDropdown()" id="catalogue-btn" class="dropdown">Catalogue</button>
                <div id="catalogue-dropdown" class="dropdown-content">
                    <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='model')}}">Model Catalogue</a>
                    <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='species')}}">Species Catalogue</a>
                </div>
            </div>
        </div>
    </header>

    <div class="grid-container">
        {% set link = url_for('upload.index', class_type='flower') %}
        <div onclick="location.href = '{{link}}';" id="flower-card" class="model-card">
            <div class="flower-container">
                <h4><b>Smell the Roses! - Flower Classification</b></h4>
                <p>14 classes</p>
            </div>
        </div>

        {% set link = url_for('upload.index', class_type='mushroom') %}
        <div onclick="location.href = '{{link}}';" id="mushroom-card" class="model-card">
            <div class="mushroom-container">
                <h4><b>Fun with Fungi! - Mushroom Classification</b></h4>
                <p>9 classes</p>
            </div>
        </div>

        {% set link = url_for('upload.index', class_type='animal-90') %}
        <div onclick="location.href = '{{link}}';" id="animal-90-card" class="model-card">
            <div class="animal-90-container">
                <h4><b>King of the Jungle! - Animal Classification</b></h4>
                <p>90 classes</p>
            </div>
        </div>

        {% set link = url_for('upload.index', class_type='butterfly-moth') %}
        <div onclick="location.href = '{{link}}';" id="butterfly-moth-card" class="model-card">
            <div class="butterfly-moth-container">
                <h4><b>Flutter Flutter! - Butterfly/Moth Classification</b></h4>
                <p>100 classes</p>
            </div>
        </div>

        {% set link = url_for('upload.index', class_type='gemstone') %}
        <div onclick="location.href = '{{link}}';" id="gemstone-card" class="model-card">
            <div class="gemstone-container">
                <h4><b>Shine Bright Like A Diamond! - Gemstone Classification</b></h4>
                <p>40 classes</p>
            </div>
        </div>

        {% set link = url_for('upload.index', class_type='indian-bird') %}
        <div onclick="location.href = '{{link}}';" id="indian-bird-card" class="model-card">
            <div class="indian-bird-container">
                <h4><b>Spread Your Wings! - Indian Bird Classification</b></h4>
                <p>25 classes</p>
            </div>
        </div>

        {% set link = url_for('upload.index', class_type='sea-animal') %}
        <div onclick="location.href = '{{link}}';" id="sea-animal-card" class="model-card">
            <div class="sea-animal-container">
                <h4><b>Under The Sea! - Sea Animal Classification</b></h4>
                <p>23 classes</p>
            </div>
        </div>

        {% set link = url_for('upload.index', class_type='snake') %}
        <div onclick="location.href = '{{link}}';" id="snake-card" class="model-card">
            <div class="snake-container">
                <h4><b>Slithering Serpents! - Snake Classification</b></h4>
                <p>40 classes</p>
            </div>
        </div>

    </div>
    <script src="{{url_for('static', filename='index.js')}}" type="text/javascript"></script>
</body>
</html>