<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Catalogue - Nature's Neural Network</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='catalogue.css')}}">
</head>
<body>
    <header>
        <div class="header">
            <div class="title-div">
                <div><img onclick="location.href = 'new_index.html';" class="logo" src="{{url_for('static', filename='nnn_brand_logo.png')}}"></div>
            </div>
            <div class="catalogue-div">
                <button onclick="toggleCatalogueDropdown()" id="catalogue-btn" class="dropdown">Catalogue</button>
                <div id="catalogue-dropdown" class="dropdown-content">
                    <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='model')}}">Model Catalogue</a>
                    <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='species')}}">Species Catalogue</a>
                </div>
            </div>
        </div>
    </header>

    <div class="grid-container">
        <div onclick="location.href = 'https://youtube.com';" id="flower-card" class="model-card">
            <div class="flower-container">
                <h4><b>Smell the Roses! - Flower Classification</b></h4>
                <p>14 classes</p>
            </div>
        </div>

        <div onclick="location.href = 'https://youtube.com';" id="mushroom-card" class="model-card">
            <div class="mushroom-container">
                <h4><b>Fun with Fungi! - Mushroom Classification</b></h4>
                <p>9 classes</p>
            </div>
        </div>
        
    </div>
    <script src="{{url_for('static', filename='index.js')}}" type="text/javascript"></script>
</body>
</html>