{% extends 'upload.html' %}

{% block title %}
Mushroom Classification
{% endblock %}

{% block banner %}
<h1>Fun with Fungi! - Mushroom Classification</h1>
{% endblock %}

{% block upload_label %}
Image of Mushroom
{% endblock %}

{% block classes %}
<p>Agaricus, Amanita, Boletus, Cortinarius, Entoloma,<br>Hygrocybe, Lactarius, Russula, Suillus</p>
{% endblock %}

{% block dataset %}
<a href="https://www.kaggle.com/datasets/lizhecheng/mushroom-classification">Kaggle Mushroom Dataset by lizhecheng</a>
{% endblock %}