{% extends 'upload.html' %}

{% block title %}
Sea Animal Classification
{% endblock %}

{% block banner %}
<h1>Under The Sea! - Sea Animal Classification</h1>
{% endblock %}

{% block upload_label %}
Image of Sea Animal
{% endblock %}

{% block classes %}
<p>Penguin, Clams, Lobster, Otter, Eel, Corals, Puffers, Squid, Whale, Sea Urchins, Crabs,
    Starfish, Seal, Octopus, Shrimp, Sharks, Sea Rays, Fish, Seahorse, Nudibranchs, Dolphin,
    Turtle/Tortoise, Jelly Fish
</p>
{% endblock %}

{% block dataset %}
<a target="_blank" href="https://www.kaggle.com/datasets/vencerlanz09/sea-animals-image-dataste">Kaggle Sea Animal Dataset by vencerlanz09</a>
{% endblock %}