{% extends 'upload.html' %}

{% block title %}
Snake Classification
{% endblock %}

{% block banner %}
<h1>Slithering Serpents! - Snake Classification</h1>
{% endblock %}

{% block upload_label %}
Image of Snake
{% endblock %}

{% block classes %}
<p>Cantil, Abaco Island Boa, Black Tree Cobra, Boomslang, Banded Krait, Yellow cobra,
    Andaman Cat Snake, Red Spitting Cobra, Forsten Cat Dnake, Cape Cobra, Snouted Cobra,
    Boiga, Red-bellied Black Snake, Rosy Boa, Bull Snake, Eqyptian Cobra, Nicobar Cat Snake,
    Harlequin Coral Snake, Boa Constrictor, Asian Cobra, Black Necked Spitting Cobra,
    Beddome Cat Snake, Red Sand Boa, Grey Cat Snake, King Cobra, Black Rat Snake,
    Equatorial Spitting Cobra, Green Cat Eyed Snake, Puerto Rican Boa, Zebra Spitting Cobra,
    Collett Snake, Emerald Boa, Javan Spitting Cobra, Dumeril Blackheaded Snake, Dekay Brown Snake,
    Monocled Cobra, Forest Cobra, Texas Blind Snake, Red Tailed Boa, Caspian Cobra
</p>
{% endblock %}

{% block dataset %}
<a target="_blank" href="https://www.kaggle.com/datasets/chandrashekarnatesh/slithering-serpents-image-classification-dataset">Kaggle Snake Dataset by chandrashekarnatesh (Chandrashekar N)</a>
{% endblock %}