<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species Catalogue - Nature's Neural Networks</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
</head>
<body>

    <header>
        <div class="header">
            <div class="title-div">
                <div>
                    {% set link = url_for('index') %}
                    <img onclick="location.href ='{{link}}';" class="logo" src="{{url_for('static', filename='nnn_brand_logo.png')}}">
                </div>
            </div>
            <div class="catalogue-div">
                <button onclick="toggleCatalogueDropdown()" id="catalogue-btn" class="dropdown">Catalogue</button>
                <div id="catalogue-dropdown" class="dropdown-content">
                    <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='model')}}">Model Catalogue</a>
                    <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='species')}}">Species Catalogue</a>
                </div>
            </div>
        </div>
    </header>

    <main class="species-main-section">
        <div class="species-div">
            <h1 class="species-header">'Smell the Roses!' Flower Species</h1>
            <a target="_blank" rel="noopener noreferrer" target="_blank" href="https://www.google.com/search?q=astilbe">Astilbe</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=bellflower">Bellflower</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=black+eyed+susan">Black-eyed Susan</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=calendula">Calendula</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=california+poppy">California Poppy</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=carnation">Carnation</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=common+daisy">Common Daisy</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=coreopsis">Coreopsis</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=dandelion">Dandelion</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=iris">Iris</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=rose">Rose</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=sunflower">Sunflower</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=tulip">Tulip</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=water+lily">Water Lily</a>
        </div>

        <div class="species-div">
            <h1 class="species-header">'Fun with Fungi!' Mushroom Species</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=agaricus">Agaricus</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=amanita">Amanita</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=boletus">Boletus</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=cortinarius">Cortinarius</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=entoloma">Entoloma</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hygrocybe">Hygrocybe</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=lactarius">Lactarius</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=russula">Russula</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=suillus">Suillus</a>
        </div>

        <div class="species-div">
            <h1 class="species-header">'King of the Jungle!' Animal Species</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=beetle">Beetle</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=parrot">Parrot</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=fox">Fox</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=wolf">Wolf</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hedgehog">Hedgehog</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=turtle">Turtle</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=snake">Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=shark">Shark</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=horse">Horse</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=antelope">Antelope</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hamster">Hamster</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=woodpecker">Woodpecker</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=eagle">Eagle</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=chimpanzee">Chimpanzee</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=bison">Bison</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=penguin">Penguin</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=butterfly">Butterfly</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=sandpiper">Sandpiper</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hornbill">Hornbill</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=lion">Lion</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=lobster">Lobster</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=osyter">Oyster</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=otter">Otter</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=grasshopper">Grasshopper</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=raccoon">Raccoon</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=dog">Dog</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=pigeon">Pigeon</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=donkey">Donkey</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hippopotamus">Hippopotamus</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hummingbird">Hummingbird</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=bear">Bear</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=coyote">Coyote</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=bee">Bee</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=pig">Pig</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=rat">Rat</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=owl">Owl</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=caterpillar">Caterpillar</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=koala">Koala</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=squid">Squid</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hare">Hare</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=whale">Whale</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=mouse">Mouse</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=tiger">Tiger</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=fly">Fly</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=lizard">Lizard</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=orangutan">Orangutan</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=bat">Bat</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=porcupine">Porcupine</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=kangaroo">Kangaroo</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=gorilla">Gorilla</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=starfish">Starfish</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=mosquito">Mosquito</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=crow">Crow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=possum">Possum</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=goldfish">Goldfish</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=swan">Swan</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=elephant">Elephant</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=sheep">Sheep</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=dragonfly">Dragonfly</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=zebra">Zebra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=seal">Seal</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=octopus">Octopus</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=cow">Cow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=ox">Ox</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=wombat">Wombat</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=reindeer">Reindeer</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=panda">Panda</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=duck">Duck</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=goose">Goose</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=goat">Goat</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=badger">Badger</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=flamingo">Flamingo</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=crab">Crab</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=seahorse">Seahorse</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=rhinoceros">Rhinoceros</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=dolphin">Dolphin</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=okapi">Okapi</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=moth">Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=sparrow">Sparrow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=pelecaniformes">Pelecaniformes</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=squirrel">Squirrel</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=leopard">Leopard</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=jellyfish">Jellyfish</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=ladybugs">Ladybugs</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=cockroach">Cockroach</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hyena">Hyena</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=cat">Cat</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=deer">Deer</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=turkey">Turkey</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=boar">Boar</a>
        </div>

        <div class="species-div">
            <h1 class="species-header">'Flutter Flutter!' Butterfly/Moth Species</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Adonis">Adonis</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=African Giant Swallowtail">African Giant Swallowtail</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=American Snoot">American Snoot</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=88 butterfly">88 butterfly</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Appollo">Appollo</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Arcigera Flower Moth">Arcigera Flower Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Atala">Atala</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Atlas Moth">Atlas Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Banded Orange Heliconian">Banded Orange Heliconian</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Banded Peacock">Banded Peacock</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Banded Tiger Moth">Banded Tiger Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Becker's White">Becker's White</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=woodpecker">Woodpecker</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=eagle">Eagle</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=chimpanzee">Chimpanzee</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=bison">Bison</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=penguin">Penguin</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=butterfly">Butterfly</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=sandpiper">Sandpiper</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hornbill">Hornbill</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Bird Cherry Ermine Moth">Bird Cherry Ermine Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Black Hairstreak">Black Hairstreak</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Blue Morpho">Blue Morpho</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Blue Spotted Crow">Blue Spotted Crow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Brooke's Birdwing">Brooke's Birdwing</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Brown Argus">Brown Argus</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Brown Siproeta">Brown Siproeta</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Cabbage White">Cabbage White</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Cairns Birdwing">Cairns Birdwing</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Chalk Hill Blue">Chalk Hill Blue</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Checquered Skipper">Checquered Skipper</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Chestnut">Chestnut</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Cinnabar Moth">Cinnabar Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Cleopatra">Cleopatra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Clodius Parnassian">Clodius Parnassian</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Clouded Sulphur">Clouded Sulphur</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Comet Moth">Comet Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Common Banded Awl">Common Banded Awl</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Common Wood-Nymph">Common Wood-Nymph</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Copper Tail">Copper Tail</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Crecent">Crecent</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Crimson Patch">Crimson Patch</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Danaid Eggfly">Danaid Eggfly</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Eastern Coma">Eastern Coma</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Eastern Dapple White">Eastern Dapple White</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Eastern Pine Elfin">Eastern Pine Elfin</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Elbowed Pierrot">Elbowed Pierrot</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Emperor Gum Moth">Emperor Gum Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Garden Tiger Moth">Garden Tiger Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Giant Leopard Moth">Giant Leopard Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Glittering Sapphire">Glittering Sapphire</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Gold Banded">Gold Banded</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Great Eggfly">Great Eggfly</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Great Jay">Great Jay</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Green Celled CattleHeart">Green Celled CattleHeart</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Green Hairstreak">Green Hairstreak</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Hercules Moth">Hercules Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Humming Bird Hawk Moth">Humming Bird Hawk Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Indra Swallow">Indra Swallow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Io Moth">Io Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Iphiclus Sister">Iphiclus Sister</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Julia">Julia</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Large Marble">Large Marble</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Luna Moth">Luna Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Madagascan Sunset Moth">Madagascan Sunset Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Malachite">Malachite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Mangrove Skipper">Mangrove Skipper</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Mestra">Mestra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Metalmark">Metalmark</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Milbert's Tortoiseshell">Milbert's Tortoiseshell</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Monarch">Monarch</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Mourning Cloak">Mourning Cloak</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Oleander Hawk Moth">Oleander Hawk Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Orange Oakleaf">Orange Oakleaf</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Orange Tip">Orange Tip</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Orchard Swallow">Orchard Swallow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Painted Lady">Painted Lady</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Paper Kite">Paper Kite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Peacock">Peacock</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Pine White">Pine White</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Pipevine Swallow">Pipevine Swallow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Polyphemus Moth">Polyphemus Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Popinjay">Popinjay</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Purple Hairstreak">Purple Hairstreak</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Purplish Copper">Purplish Copper</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Question Mark">Question Mark</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Red Admiral">Red Admiral</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Red Cracker">Red Cracker</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Red Postman">Red Postman</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Red Spotted Purple">Red Spotted Purple</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Rosy Maple Moth">Rosy Maple Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Scarce Swallow">Scarce Swallow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Silver Spot Skipper">Silver Spot Skipper</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sixspot Burnet Moth">Sixspot Burnet Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sleepy Orange">Sleepy Orange</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=black+eyed+susan">Black-eyed Susan</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sootywing">Sootywing</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Southern Dogface">Southern Dogface</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Straited Queen">Straited Queen</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Tropical Leafwing">Tropical Leafwing</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Two Barred Flasher">Two Barred Flasher</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Ulyses">Ulyses</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Viceroy">Viceroy</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=White Lined Sphinx Moth">White Lined Sphinx Moth</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Wood Satyr">Wood Satyr</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Yellow Swallow Tail">Yellow Swallow Tail</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Zebra Long Wing">Zebra Long Wing</a> 
        </div>

        <div class="species-div">
            <h1 class="species-header">'Shine Bright Like A Diamond!' Gemstone Species</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Quartz Rose">Quartz Rose</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Aquamarine">Aquamarine</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Lapis Lazuli">Lapis Lazuli</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Onyx Green">Onyx Green</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Andalusite">Andalusite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Hiddenite">Hiddenite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Chrysoprase">Chrysoprase</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Prehnite">Prehnite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Benitoite">Benitoite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Andradite">Andradite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Dumortierite">Dumortierite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sapphire Yellow">Sapphire Yellow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Blue Lace Agate">Blue Lace Agate</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Opal">Opal</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Serpentine">Serpentine</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Fluorite">Fluorite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Amethyst">Amethyst</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sapphire Purple">Sapphire Purple</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Tsavorite">Tsavorite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Variscite">Variscite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Scapolite">Scapolite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Kunzite">Kunzite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sodalite">Sodalite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Quartz Rutilated">Quartz Rutilated</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Aventurine Green">Aventurine Green</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hygrocybe">Hygrocybe</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Alexandrite">Alexandrite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Chrysocolla">Chrysocolla</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Garnet Red">Garnet Red</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Pearl">Pearl</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Emerald">Emerald</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Rhodolite">Rhodolite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Onyx Black">Onyx Black</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Jasper">Jasper</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Kyanite">Kyanite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Almandine">Almandine</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Hessonite">Hessonite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Amazonite">Amazonite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Malachite">Malachite</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Tanzanite">Tanzanite</a>
        </div>

        <div class="species-div">
            <h1 class="species-header">'Spread Your Wings!' Indian Bird Species</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Indian Roller">Indian Roller</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=White-Breasted Waterhen">White-Breasted Waterhen</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Indian Grey Hornbill">Indian Grey Hornbill</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Common Myna">Common Myna</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Rufous Treepie">Rufous Treepie</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Cattle Egret">Cattle Egret</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=House Crow">House Crow</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Ruddy Shelduck">Ruddy Shelduck</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Gray Wagtail">Gray Wagtail</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Forest Wagtail">Forest Wagtail</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Common Tailorbird">Common Tailorbird</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sarus Crane">Sarus Crane</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=White Wagtail">White Wagtail</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Jungle Babbler">Jungle Babbler</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Hoopoe">Hoopoe</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Coppersmith Barbet">Coppersmith Barbet</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Common Kingfisher">Common Kingfisher</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Brown-Headed Barbet">Brown-Headed Barbet</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Indian Peacock">Indian Peacock</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Asian Green Bee-Eater">Asian Green Bee-Eater</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Indian Pitta">Indian Pitta</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Red-Wattled Lapwing">Red-Wattled Lapwing</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Northern Lapwing">Northern Lapwing</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=White-Breasted Kingfisher">White-Breasted Kingfisher</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Common Rosefinch">Common Rosefinch</a>
        </div>

        <div class="species-div">
            <h1 class="species-header">'Under The Sea!' Sea Animal Species</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Penguin">Penguin</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Clams">Clams</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Lobster">Lobster</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Otter">Otter</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Eel">Eel</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Corals">Corals</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Puffers">Puffers</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Squid">Squid</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Whale">Whale</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sea Urchins">Sea Urchins</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Crabs">Crabs</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Starfish">Starfish</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Seal">Seal</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Octopus">Octopus</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Shrimp">Shrimp</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sharks">Sharks</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Sea Rays">Sea Rays</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Fish">Fish</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Seahorse">Seahorse</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Nudibranchs">Nudibranchs</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Turtle/Tortoise">Turtle/Tortoise</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=suillus">Jelly Fish</a>
        </div>

        <div class="species-div">
            <h1 class="species-header">'Slithering Serpents!' Snake Species</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Cantil">Cantil</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Abaco Island Boa">Abaco Island Boa</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Black Tree Cobra">Black Tree Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Boomslang">Boomslang</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Banded Krait">Banded Krait</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Yellow cobra">Yellow cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Boiga">Boiga</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Red-bellied Black Snake">Red-bellied Black Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Rosy Boa">Rosy Boa</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Bull Snake">Bull Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Eqyptian Cobra">Eqyptian Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Nicobar Cat Snake">Nicobar Cat Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Harlequin Coral Snake">Harlequin Coral Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Boa Constrictor">Boa Constrictor</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Asian Cobra">Asian Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Black Necked Spitting Cobra">Black Necked Spitting Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Beddome Cat Snake">Beddome Cat Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Red Sand Boa">Red Sand Boa</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Grey Cat Snake">Grey Cat Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=King Cobra">King Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Black Rat Snake">Black Rat Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Equatorial Spitting Cobra">Equatorial Spitting Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Green Cat Eyed Snake">Green Cat Eyed Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Puerto Rican Boa">Puerto Rican Boa</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Zebra Spitting Cobra">Zebra Spitting Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Collett Snake">Collett Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Emerald Boa">Emerald Boa</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Javan Spitting Cobra">Javan Spitting Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Dumeril Blackheaded Snake">Dumeril Blackheaded Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Dekay Brown Snake">Dekay Brown Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Monocled Cobra">Monocled Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Forest Cobra">Forest Cobra</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Texas Blind Snake">Texas Blind Snake</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Red Tailed Boa">Red Tailed Boa</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=Caspian Cobra">Caspian Cobra</a>
        </div>

    </main>

    <script src="{{url_for('static', filename='index.js')}}" type="text/javascript"></script>
</body>
</html>