<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species Catalogue - Nature's Neural Networks</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
</head>
<body>

    <header>
        <div class="header">
            <div class="title-div">
                <div>
                    {% set link = url_for('index') %}
                    <img onclick="location.href ='{{link}}';" class="logo" src="{{url_for('static', filename='nnn_brand_logo.png')}}">
                </div>
            </div>
            <div class="catalogue-div">
                <button onclick="toggleCatalogueDropdown()" id="catalogue-btn" class="dropdown">Catalogue</button>
                <div id="catalogue-dropdown" class="dropdown-content">
                    <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='model')}}">Model Catalogue</a>
                    <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='species')}}">Species Catalogue</a>
                </div>
            </div>
        </div>
    </header>

    <main class="species-main-section">
        <div class="species-div">
            <h1 class="species-header">'Smell the Roses!' Flower Species</h1>
            <a target="_blank" rel="noopener noreferrer" target="_blank" href="https://www.google.com/search?q=astilbe">Astilbe</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=bellflower">Bellflower</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=black+eyed+susan">Black-eyed Susan</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=calendula">Calendula</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=california+poppy">California Poppy</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=carnation">Carnation</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=common+daisy">Common Daisy</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=coreopsis">Coreopsis</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=dandelion">Dandelion</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=iris">Iris</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=rose">Rose</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=sunflower">Sunflower</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=tulip">Tulip</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=water+lily">Water Lily</a>
        </div>

        <div class="species-div">
            <h1 class="species-header">'Fun with Fungi!' Mushroom Species</h1>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=agarius">Agarius</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=amanita">Amanita</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=boletus">Boletus</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=cortinarius">Cortinarius</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=entoloma">Entoloma</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=hygrocybe">Hygrocybe</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=lactarius">Lactarius</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=russula">Russula</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?q=suillus">Suillus</a>
        </div>
    </main>

    <script src="{{url_for('static', filename='index.js')}}" type="text/javascript"></script>
</body>
</html>