<!DOCTYPE html>
<html class="{{classification_type}}" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='upload.css')}}">
        <title>{% block title %}{% endblock %} - Nature's Neural Networks</title>
    </head>


    <body>
        <header>
            <div class="header">
                <div class="title-div">
                    <div>
                        {% set link = url_for('index') %}
                        <img onclick="location.href ='{{link}}';" class="logo" src="{{url_for('static', filename='nnn_brand_logo.png')}}">
                    </div>
                </div>
                <div class="catalogue-div">
                    <button onclick="toggleCatalogueDropdown()" id="catalogue-btn" class="dropdown">Catalogue</button>
                    <div id="catalogue-dropdown" class="dropdown-content">
                        <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='model')}}">Model Catalogue</a>
                        <a rel="noopener noreferrer" href="{{url_for('catalogue.index', type='species')}}">Species Catalogue</a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div>
                {% block banner %}{% endblock %}
            </div>
            
            <div class="form">
                <form method="POST" enctype="multipart/form-data">
                    <label for="file">{% block upload_label %}{% endblock %}</label>
                    <input name="file" type="file" onchange="showImage(event)" accept="image/*" required>
                    <input type="submit">
                    <div class="cut-margin">
                        <img id="selected-image-file">
                    </div>
                </form>
            </div>

            <div>
                <h3>No photo? Try one of these!</h3>
                <div>
                    <form method="POST">
                    {% for image in preset_image_names %}
                        <button class="preset-button" type="submit" name="{{image}}">
                            <img class="preset-image" src="{{url_for('static', filename=classification_type + '/' + image)}}">
                        </button>
                    {% endfor %}
                </form>
                </div>
            </div>

            <div class="footer">
                <div>
                    <h3>Classes:</h3>
                    {% block classes %}{% endblock %}
                </div>

                <div>
                    <h3><br>Dataset:</h3>
                    {% block dataset %}{% endblock %}
                </div>
            </div>
        </main>

        <script src="{{url_for('static', filename='index.js')}}" type="text/javascript"></script>
    </body>
</html>